 .location__details {
    margin: 15px 0;
    font-size: x-large;
  }

  .location__details div {
    margin-bottom: 10px;
  }

  .location__map-icon-box {
    padding: 5px 0;
    margin-bottom: -10px;
    width: 340px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 227, 231);
  }

  .location__map-icon {
    width: 30px;
  }

  .location__map-item:hover {
    cursor: pointer;
    background-color: rgb(247, 195, 204);
  }

 .location__map-item {
  display: flex;
  align-items: center;
 } 

 .location__map-item span {
    margin-left: 10px;
    font-size: large;
 }

  .location__map {
    width: 340px;
    height: 340px;
  }

  .location__info {
    width: 310px;
    text-align: left;
    font-size: x-large;
    margin-top: 25px;
  }

  .location__info div {
    margin-bottom: 7px;
    font-size: 20px;
  }

  .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-weight: bold;
}

.info-item .info-icon {
  width: 25px;   /* 아이콘 작게 */
  height: 25px;
  margin-right: 5px;
}

.info-detail {
  margin-left: 15px;  /* ← 들여쓰기 */
}


.info-detail-desc {
  margin-left: 3px;  /* ← 들여쓰기 */
  white-space: nowrap;
}

.bold {
    font-weight: bold;
}